@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжний магазин</title>
</head>
<body>
    <div>
        <h3>Роспродаж книг</h3>
        <table>
            <tr>
                <td><p>Назва книги</p></td>
                <td><p>Мудак який написав</p></td>
                <td><p>Ціна</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Стирити</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>